.user-products {
	display: flex;
}

.user-products__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	flex: 1 1 auto;
}

.user-products__content__list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: auto;
	gap: 4rem;
}
