.change-password__content {
	display: flex;
	height: 90vh;
}

.change-password__content__right {
	flex-grow: 1;
	width: 100%;
	height: 100%;
	background-color: #f8f9fa;
	display: flex;
	justify-content: center;
	align-items: center;
}
